
.sectionp{
    position: absolute;
    background-color: rgb(241, 145, 0);
    border: solid 1px black;
    padding: 2rem;
    width: 2rem;
    height: 5.6rem;
    margin-left: 10rem;

}

.section{
    padding: 1rem;
    width: 1rem;
    background-color: rgb(241, 145, 0);
    border: solid 1px black;
}

@media (max-width: 640px) {

    .section2{
        position: absolute;
        margin-top: 10rem;
        display: flex;
        flex-direction: row;
    }

    .sectionp{
    width: 5.6rem;
    height: 1rem;
    margin-left: 0;
    }
}
